mark
{
    background-color: map-get($colores, principal);
    color: map-get($colores, letraClara);
    padding: 0 0.5rem 0 4vw;
    margin: 0.5rem 0rem;
}
.bi-house-door-fill
{
    font-size: larger;
}
.navbar
{
    background-color: $colorPpal;
    margin: 1rem 0rem;
    font-size: 1.6rem;
    padding: 0 0 0 1vw;
}
.navbar-nav
{
    align-items: center;
    li
    {
        margin-right: 1.5vw;
    }
}
header
{
    background-color: rgba(255, 255, 255, 0.8);
}
.nav-link
{
    color: #fff;
}
.navigation__logo
{
    align-items: center;
    width: 100px;
}
.navigation
{
    display: flex;
    align-items: center; 
    justify-content: right;
    padding-right: 2vw;
}
.dropdown-menu
{
    background-color: #eed7c4;
}
.dropdown-item
{
    color: $crema;
    padding: 0rem 1rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: $colorPpal;
}
.navbar-toggler
{
    font-size: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
}
.nav-item.dropdown
{
    text-align: center;
}
.dropdown-menu.show
{
    text-align: left;
}